OPENAI_API_KEY=openai_api_key
LOCAL_URL=http://localhost:3000
PROD_URL=your_deploy_url

# DB関連
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=scains-db
DATABASE_URL=postgresql://postgres:postgres@db:5432/scains-db

#Auth関連
SECRET_KEY=scains
ALGORITHM = HS256
ACCESS_TOKEN_EXPIRE_MINUTES = 720

# Redis関連
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=