.app-container {
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.chats-content {
    display: flex;
    position: relative;
    height: 100%;
    margin: 24px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    flex: 3;
}

.chat-box-container {
    display: flex;
    position: relative;
    background: #fff;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    box-sizing: border-box;
    height: 100%;
    margin: 24px;
    width: 90%;
    justify-content: center;
}

.chats-container {
    display: flex;
    position: absolute;
    height: 80%;
    width: 100%;
    justify-content: flex-start;
    flex-flow: column;
}

.chat-text {
    background-color: #EFEFEF;
    color: black;
    border-radius: 4px;
    padding: .5rem;
    margin-right: 1rem;
    max-width: 80%;
    width: auto;
    word-break: break-word;
}

.chat-user-text {
    background-color: #B5F892;
    color: black;
    border-radius: 4px;
    padding: .5rem;
    margin-right: 1rem;
    max-width: 80%;
    width: auto;
    word-break: break-word;
}

.scains-text {
    background-color: rgba(237, 173, 54, 0.79);
    color: black;
    border-radius: 4px;
    padding: .5rem;
    margin-right: 1rem;
    max-width: 80%;
    width: auto;
    word-break: break-word;
}

.scains-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-statements-container {
    display: flex;
    position: absolute;
    bottom: 0;
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;
    height: 20%;
    width: 100%;
    background-color: rgba(220, 224, 224, 0.71);
}

.user-statement-content {
    display: flex;
    width: 90%;
    position: absolute;
    bottom: 24px;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.user-statement {
    width: 80%;
    font-size: 16px;
}

.left-chat {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-right: 0 !important;
}

.right-chat {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-right: 0 !important;
}

.monitor-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
    margin: 16px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex: 5;
}

.monitor-frames {
    border: solid 3px black ;
    padding: 24px;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.persons {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.a-person{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: auto;
    width: 50%;
}

.a-person-img{
    width: 100%;
    height: auto;
}

.speaker {
    border: solid 3px #9ae821;
}

.btn-container {
    display: flex;
    gap: 16px;
    flex-direction: column;
    width: 250px;
}

/*フォントサイズクラス*/
.text-bold {
    font-weight: 700;
}

.xl-4 {
    font-size: 96px;
    line-height: 144px;
}

.xl-3 {
    font-size: 48px;
    line-height: 72px;
}

.xl-2 {
    font-size: 32px;
    line-height: 48px;
}

.xl {
    font-size: 24px;
    line-height: 36px;
}

.lg {
    font-size: 20px;
    line-height: 30px;
}

.md {
    font-size: 16px;
    line-height: 24px;
}

.sm {
    font-size: 14px;
    line-height: 21px;
}

.xs {
    font-size: 12px;
    line-height: 16px;
}

.title {
    text-align: center;
    padding: 8px;
}

.btn {
    display: flex;
    width: 100px;
}

