.app-container {
    position: relative;
    height: 100vh;
    width: 100%;
}

.chat-box-container {
    display: flex;
    background: #fff;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    box-sizing: border-box;
    height: 90%;
    padding: 0 1rem;
    width: 70%;
    justify-content: center;

    /* Vertical and horizontal center alignment */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.chats-container {
    display: flex;
    position: absolute;
    height: 84%;
    width: 100%;
    justify-content: flex-start;
    flex-flow: column;
}

.chat-text {
    background-color: #EFEFEF;
    color: black;
    border-radius: 4px;
    padding: .5rem;
    margin-right: 1rem;
    max-width: 80%;
    width: auto;
}

.chat-user-text {
    background-color: #B5F892;
    color: black;
    border-radius: 4px;
    padding: .5rem;
    margin-right: 1rem;
    max-width: 80%;
    width: auto;
}

.user-statements-container {
    display: flex;
    position: absolute;
    bottom: 0;
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;
    height: 16%;
    width: 100%;
    background-color: rgba(220, 224, 224, 0.71);
}

.user-statement-content {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 24px;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.user-statement {
    width: 80%;
    font-size: 16px;
}

.left-chat {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-right: 0 !important;
}

.right-chat {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-right: 0 !important;
}

/*フォントサイズクラス*/
.text-bold {
    font-weight: 700;
}

.xl-4 {
    font-size: 96px;
    line-height: 144px;
}

.xl-3 {
    font-size: 48px;
    line-height: 72px;
}

.xl-2 {
    font-size: 32px;
    line-height: 48px;
}

.xl {
    font-size: 24px;
    line-height: 36px;
}

.lg {
    font-size: 20px;
    line-height: 30px;
}

.md {
    font-size: 16px;
    line-height: 24px;
}

.sm {
    font-size: 14px;
    line-height: 21px;
}

.xs {
    font-size: 12px;
    line-height: 16px;
}
