.app-container {
    position: relative;
    height: 100vh;
    width: 100%;
}

.chat-box-container {
    display: flex;
    background: #fff;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    box-sizing: border-box;
    height: 90%;
    padding: 0 1rem;
    width: 70%;
    justify-content: center;

    /* Vertical and horizontal center alignment */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.chats-container {
    display: flex;
    position: absolute;
    height: 80%;
    width: 100%;
    justify-content: flex-start;
    flex-flow: column;
}

.user-statements-container {
    display: flex;
    position: absolute;
    bottom: 8px;
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;
    height: 20%;
    width: 100%;
}
